// .fbits-responsive-carrinho-center
// .login .center.acenter
// .content.cadastro .center.formCadastro
// .fechamento.fbits-fechamento .content
// .minhaconta>.center
//   @extend .center
//
// body.minhaConta.fbits-minhaConta div.content.minhaconta .mainBarInterna
//
//   @media (min-width 1300px)
//     padding 20px
//     width 75%
//
//   @media (max-width 768px)
//     padding 10px
//     width 67%
