.stay-modal-home
    .stay-head
        padding: 40px 15px 70px 15px
        &__subtitle
            color: #434343
            font-size: 21px
            line-height: 32px
            text-align: center
            font-weight: bold
            margin-bottom: 10px
        &__title
            color: #434343
            font-size: 35px
            line-height: 32px
            text-align: center
            font-weight: 900
            text-transform: uppercase
            display: flex
            align-items: center
            justify-content: space-between
            white-space: nowrap
            span
                padding: 0 15px
            &:before, &:after
                content: ''
                height 1px
                background: #FFF115
                display: block
                width: 100%
    .stay-content
        max-width: 1130px
        width: 1130px
        padding: 0 15px
        padding-bottom: 40px
        .slick-arrow
            font-size: 0
            &.slick-prev
                left -5px
            &.slick-next
                right -5px
    .fbits-componente-listaSpot
        padding: 0 35px
    .spot
        width: 86.93%
        min-height 415px
@media(max-width : 1199px)
    .stay-modal-home
        .stay-content
            max-width: 900px
            width: 900px