//
// .ui-slider-tabs-content-container
//   border 0 none
//
// .ui-slider-tab-content
//   padding 0
//
// .ui-slider-tabs-content-container
//   border 0 none
//
// .fbits-produto-produtosrecomendados
//   float none
//
// .fbits-home .fbits-carrossel
// .mainBar.fbits-vitrine-hotsite .spotListHome
// .produto #produtos-relacionados.jsCarrousel
// .produto #produtos-autor.carousel
//   @extend .center
//
// .fbits-carrossel li, div.spot-vitrine
// .fbits-carrossel-historico li
// .carousel .jsCarrousel li
//   width 272px !important
//
// .informacao-abas
//
//   .ui-slider-tabs-content-container
//     border 0 none
//
//   .ui-slider-tab-content
//     padding 0
//
//   .ui-slider-tabs-list
//     align-items center
//     display flex
//     justify-content center
//     margin 0 0 50px
//     max-width 100%
//
//     li
//     a
//       border 0 none
//       color $cor01
//       font-size 25px
//       font-weight 700
//       height auto !important
//       line-height 49px
//       padding 0
//       transition all 150ms ease-in-out
//
//       &:first-of-type
//         border 0 none
//
//       &:hover
//         background-color transparent
//         color $cor01
//
//     li
//       margin 0 24px
//
//     li.selected
//       background-color transparent
//       border 0 none
//
//       a
//         color #606060
//         font-size 29px
//         font-weight 700
//         line-height 49px
//         text-transform uppercase
//
// .fbits-produto-informacoes-extras
//   .informacao-abas
//   .paddingbox
//     color #606060
//     font 600 14px/17px Muli, sans-serif
//
// .textAreaIndicar
// .textAreaAvaliacao
//   resize none
//
//
// .fbits-produto-produtosrecomendados
// .informacao-abas
// .avalie-indique
//   border-bottom 1px solid #eee
//   margin-bottom 30px
//   padding-bottom 20px
//
//
// .fbits-produto-informacoes-extras
//   padding 0
//
// @media (min-width 1300px)
//   .colunaProduto
//   .coluna-listacompra
//     width 36.8%
//
//   .colunaProduto.coluna1
//   .coluna-listacompra.coluna1
//     min-height 250px
//     width 40%
//
//   .produtoInfo-title.colunaWide
//     width 60%
//
// @media (min-width 768px)
//   .fbits-componente-imagem
//     margin-left 100px
//     float none
//     width auto
//
//   .fbits-produto-informacoes-extras .informacao-abas
//     padding-bottom 20px
