// @import '../modules/cart-content'

.fbits-carrinho
.fbits-fechamento
body.fechamento
.fbits-minhaConta
  @media(min-width: 1301px)
    padding-top 125px

  @media(max-width: 1300px)
    padding-top 101px

    .header-lane
      .bottom:before
      .right
        display none !important
  .header-lane
    .center
      align-items center
      border-bottom 1px solid $cor01
      display flex

    .right
      display flex
      justify-content flex-end

    .help-list
      display flex
      justify-content flex-end

      li
        flex 0 0 auto

  .bt
  .listacompra-comprarselecionados
    background-color: #42ca19

  input#btnFinalizarPedido2
  .fbits-responsive-login .btCadastrar
  #btnFinalizarPedidoFinal
    background #42ca19

  .freteheader
    background $cor01

  .imgfrete:before
    color $cor01

  input#btnVoltarCompras2, input#btnFinalizarPedido2
  .carrinhoInputBlock .btnCalcular
    background-color $cor01
    color white

  .fbits-botoes-direita>div.limparCarrinho input
    background-color black
    color white

  .fbits-responsive-carrinho-container
    margin-bottom 80px

  input#btnVoltarCompras2
    background-color $cor01

.line, .lineHistBusca, .tagsTitle, .divOpinioes, .title-fechamento, .title-escolha-frete, .divTitleLogin
  &:after
    display none


.line h3
.lineHistBusca h3
.tagsTitle h3
.divOpinioes h3
.title-fechamento h3
.title-escolha-frete h3
.divTitleLogin h3
h3.titleFechamento
  font-size 20px

.title-fechamento .titleFechamento+span
    display none




@media (min-width 1301px)
  .fbits-carrinho
    padding-top 150px


@media (max-width: 1300px)
  .colunaProduto.coluna3
    width 29%

@media (max-width 768px)
  .carousel h3.title
  #fbits-avaliar-produto h2
  #fbits-indicacao-amigo h2
  .informacao-abas .ui-slider-tabs-list li.selected a
  .detalhe-produto .prodTitle
    font-size 21px
    padding 0
    width 100%

  .produto #produtos-relacionados.jsCarrousel
    width 100%

  .produto .fbits-avaliacao
    float left
    width 100%

  .fbits-componente-imagem
    margin 0

  .colunaProduto.coluna3
    width 100%

@media (min-width 768px)
  .content.produto .interna.cf, .content.listacompra .interna.cf
    padding 0