// color_one = #f35660
// color_two = #353535
// color_three = #5BC0B9

// // Resets Default 
// .prodTitle, .listacompra .prodTitle, .fbits-componente-imagemvariantethumb .jcarousel li a.zoom-thumbnail, 
// .fbits-imagensMinicarrossel-item a.zoom-thumbnail,
// .optionAtributos ul li ul li div+div+div>div, .optionAtributos ul li .container-tamanhos
//     float: none 

// .fbits-componente-imagemvariantethumb .jcarousel, .fbits-listacompra-imagens
//     width: auto

// div#fbits-fabricante-logo
//     width: auto 
//     height: auto

// .verDetalhes
//     display: none 

// .productVideo, .productVideo iframe 
//     width: 100% 
//     height: 100% 
//     min-height: 300px

// .productVideo
//     display: none 

// .fbits-componente-imagemvariantethumb img, .fbits-imagensMinicarrossel-item img,
// .fbits-componente-imagemvariantethumb img:hover, .fbits-imagensMinicarrossel-item img:hover
//     border: 0

// #divItensCombo-0 ul, #divItensCombo-0 li
//     display: block

// .optionAtributos ul li ul li div+div+div>div, .optionAtributos ul li .container-tamanhos
//     text-align: left

// .valorAtributo, .listacompra-produtos-atributos-opcao
//     margin-bottom: 0

// .atributos-container
//     .atributo-div
//         display: block
//         font-size: 15px
//         font-weight: 400
//         text-transform: none  
//         color: color_two
//     select 
//         width: 100% 
//     .valorAtributo, .listacompra-produtos-atributos-opcao
//         box-shadow: 0 0 0 1px #E8E8E8
//         border: 0
//         border-radius: 0
//         &:hover 
//             box-shadow: 0 0 0 1px #e8e8e8, 0 0 0 3px #fff, 0 0 0 5px color_three
//             padding: 2px
//             width: 40px
//             height: 40px
//             margin-right: 10px
//             margin-left: 5px
//             border: 0!important

//     + .atributos-container
//         margin-top: 10px

//     [data-atributospagproduto] > div
//         display: flex 
//         justify-content: flex-start 
//         align-items: center
//         flex-flow: row wrap

// .valorAtributo.selected, .listacompra-produtos-atributos-opcao.selecionado
//     border:0 !important
//     box-shadow: 0 0 0 1px #e8e8e8, 0 0 0 3px #fff, 0 0 0 5px color_three
//     padding: 2px
//     width: 40px
//     height: 40px
//     margin-right: 10px
//     margin-left: 5px

// .optionAtributos ul li ul li div+div+div>div
//     display: flex 
        

// // Force page Product
// #bodyProduto 
//     padding-top: 105px

//     li.todas-categorias
//         left 0

//     #msgEstoqueDisponivel,
//     .prodVariante .summaryDesktop:before, #ulFrete .summaryDesktop:before, .prodVariante .summary:before, #ulFrete .summary:before
//         display: none 

//     #fancybox-wrap
//         position: fixed !important
//         top: 50% !important
//         left: 50% !important
//         transform: translateX(-50%) translateY(-50%)

//     #fancybox-title-float-wrap
//         display: none 

//     .bread 
//         margin-top: 16px
//         word-break: break-all
//         text-align: left

//         span 
//             display: inline

//         li 
//             a 
//                 font-size: 15px
//                 font-weight: 400 
//                 color: color_two
//             &:last-child a 
//                 font-weight: 800
//                 color: color_one

// #divFormaPagamento
//     display: flex 
//     justify-content: center 
//     align-items: center 

//     .precoDe, .precoPor
//         padding: 5px

//     .precoDe
//         font-size: 13px
//         font-weight: 400 
//         color: #999999
//         text-decoration: line-through

//     .precoPor
//         font-size: 21px
//         font-weight: 700
//         color: color_one
//         &:before 
//             display: none 


// // Style 
// .product 
//     @extends $container

//     &__images 
//         .fbits-componente-imagem
//             height: 300px
//             margin: 20px 0
//             img 
//                 object-fit: contain 
//                 width: 100% 
//                 height: 100% 

//         #galeria 
//             display: flex 
//             justify-content: space-between
//             align-items: center 
//             margin-top: 20px
//             .slick-list 
//                 flex: 1
//             .slick-track
//                 min-width: 100% 
//             .slick-slide
//                 padding: 5px
//             .slick-arrow
//                 width: 45px !important
//                 height: 100%
//             .slick-prev, .slick-next 
//                 &:before 
//                     background-size: 10px 20px
//             a 
//                 border: solid 1px #E8E8E8
//                 border-radius: 2px
//                 padding: 10px
//     &__name 
//         h1 
//             font-size: 23px 
//             font-weight: 400
//             text-transform: none 
//             line-height: 1.2
//             color: color_two

//     &__brand-sku
//         display: flex 
//         justify-content: flex-start
//         align-items: center

//     &__brand 
//         display: none 
//         a 
//             font-size: 13px
//             font-weight: 400 
//             color: color_two
    
//         &.on 
//             display: block 
//     &__sku 
//         margin-left: 20px
//         .fbits-sku
//             width: auto
//             font-size: 13px
//             font-weight: 400 
//             color: color_two
//             text-transform: none

// .fake-select 
//     position: relative 
//     width: 100%
//     // max-width: 165px
//     &__label
//         display: flex 
//         justify-content: flex-start 
//         align-items: center
//         height: 40px
//         border: solid 1px #E8E8E8
//         background: #fff 
//         padding-left: 20px
//         padding-right: 50px
//         text-overflow: ellipsis
//         white-space: nowrap
//         font-size: 15px
//         font-weight: 600 
//         font-style: italic
//         color: #979797

//         &:after 
//             content: ''
//             position: absolute 
//             top: 0 
//             right: 0
//             width: 50px
//             height: 100% 
//             background-image: url(arrow)
//             background-size: 6px 12px
//             background-repeat: no-repeat 
//             background-position: center center
//             transform: rotate(-90deg)

//     &__select
//         position: absolute
//         top: 0 
//         left: 0 
//         z-index: 100
//         width: 100%
//         height: 100% 
//         border: 0 
//         background: none 
//         opacity: 0
