.slick-arrow
    width: 35px !important
    height 35px !important
    display: flex
    align-items: center 
    justify-content: center
    background-color: $cor02 !important 
    border-radius: 50px
    top: -20px!important
    &.slick-next
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAVFBMVEUAAADk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5ORdXV2urq5CQkIZGRnW1tZPT0+goKCTk5MnJycbLayTAAAAE3RSTlMAJni24fz/6cCCMCinrS1m/md6Nz04nAAAAKBJREFUeNqNktEOgyAMRRXlIggibkO3/f9/jrl1Eotx56nJCaS9bfUHtWhaCdVpsxO9xQ835MaPyAmbmbBjIhPA8B8zgDP2q3IoYN/GgLhcM1cnpUHcYuZEUh2IeYl3EE1SChtLfFDZJgUUndyr+Rnnb0kf8leK2mAGHTXPO9Q0Mp/LUFAsDUfxcobDpYSzVfIDGP3R2di+dGyybURdnfMC7xUOkIv9eMsAAAAASUVORK5CYII=')!important
        background-repeat no-repeat !important
        background-size: 100% !important
        background-position: center !important 
    &.slick-prev
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAATlBMVEUAAADk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OSurq5dXV3k5OQZGRlCQkLW1tbk5OTk5OTk5OQnJyfJyclaZH0vAAAAGHRSTlMAMILA6f8trWd6Zij+pyb//3j///+24fxzqz+LAAAAnklEQVR42o3RwQ6DIBBFUQSeKCAtVqD9/x/tVGJFnaS9K5KT2fDEH3VSaUAr2Z2gN/hm+lYGHBp2GXFq3MTikq3i/JW8W2kC0/SRgL3bHVuBKDYyP5btHYkSK0hEmRVkosIKChFqy3N+oY1I81eaSIE1RSTBmiTqwNo6m+F+w9QZwdQzQ9aGn1NS1rfgrWhyUzOVE8dCTLmUnGIQv3sDGlINCpMSTcAAAAAASUVORK5CYII=')!important
        background-repeat no-repeat !important
        background-size:  100% !important
        background-position: center !important
        transform: rotate(360deg) !important
    &:before
        display none !important
        
.slick-dots
    position: abosolute !important
    
    li
        width: 15px !important
        height 15px !important
        border: none !important
        background: none !important

        button
            width: 15px !important
            height 15px !important
            background-color transparent !important
            border: 2px solid $cor03 !important
            padding 0 !important
            border-radius 50%

        &.slick-active
            button
                background-color: $cor01 !important
                border-color: $cor01 !important
        
section.fbits-section-home .slick-list.draggable
    width: initial !important


.slick-arrow.slick-prev
    right 50px
    left auto
 
.slick-arrow.slick-next
    right 0 