$cor01 = #000
$cor02 = #fff // Cinza

$cor03 = #989898 // cinza claro
$cor04 = #00a698 // verde
$cor05 = #fff9ea
$cor06 = #f8b605

//Buton
// $button
//     box-shadow: 0 2px 3px rgba(0,0,0,0.1)

//Container
$container
    max-width 1350px
    width: calc(100% - 30px)
    margin: 0 auto 


$transition = all 150ms ease-in-out

 