
<table id="utils" width="700px" border="0" cellpadding="10" cellspacing="0">
    <!-- <tr class="utils__contacts">
        <td>
            <table width="100%" border="1" cellpadding="5" cellspacing="0">
                <tr>
                    <td colspan="2">Informações de Contato</td>
                </tr>
                <tr>
            		<td class="utils__contacts-whatsapp">Whatsapp</td>
            		<td>(11) 96194-6786</td>
            	</tr>
                <tr>
            		<td class="utils__contacts-sac">Sac</td>
            		<td>(11) 3473-6142</td>
            	</tr>
                <tr>
            		<td class="utils__contacts-mail">E-mail</td>
            		<td>atendimento@belezaja.com.br</td>
            	</tr>
            </table>
        </td>
    </tr> -->


    <!-- Informações de Funcioanamento -->
    <tr class="utils__business">
        <td>
            <table width="100%" border="1" cellpadding="5" cellspacing="0">
                <tr>
                    <td colspan="2">Informações de Funcionamento</td>
                </tr>
                <tr>
            		<td class="utils-info__business-hours">Horário de Funcionamento</td>
            		<td>Seg. à Sex. das 9 às 17h</td>
            	</tr>
            </table>
        </td>
    </tr>


    <!-- Banners Top -->
    <tr class="utils__banner">
        <td>
            <table width="700px" border="1" cellpadding="10" cellspacing="0">
                <tr>
                    <td class="utils__banner-top-text" colspan="2">Banner Topo</td>
                </tr>
                <tr>
                    <td>Cor do fundo</td>
                    <td class="utils__banner-top-background">#3e012e</td>
                </tr>
                <tr>
                    <td class="utils__banner-top-image" colspan="2"><img alt="" src="http://recursos.belezaja.ecommercestore.com.br/MediaCenter/banner-regua.png" style="width: 1140px; height: 40px;" /></td>
                </tr>
            </table>
        </td>
    </tr>

</table>
