body.fbits-geral.Piso, body.fbits-geral.Rodapé
    [id*="view-item-quantidade"]
        display: none
    [id*="produto-comprar"]
        position: absolute

    .calculadora__pisos, .calculadora__totais
        display: block

    .fator__caixa 
        color: #353535
        font-weight: 600
        font-size: 15px

        &:after
            content: 'm²'
            margin-left: 5px

    .qtde__caixa
        font-size: 15px
        color: #979797
        font-weight: 600

        strong 
            font-weight: 600
            margin-right: 3px

    .calculadora
        &__pisos 
            margin: 20px 0
            background: #F5F5F5
            padding: 30px 0
            width: 100%

            > span  
                font-size: 18px
                color: #353535
                text-align: center
                display: block
                font-weight: 600
    
        &__content 
            display: flex
            align-items: center
            justify-content: center
            flex-wrap: wrap
            margin: 10px 0

            > span  
                font-size: 0
                &:before
                    content: 'm²'
                    font-size: 15px
                    color: #979797
                    font-weight: 600
                    margin-left: 5px

            > input 
                max-width: 90px
                width: 100%
                border: 1px solid #E8E8E8
                height: 40px
                border-radius: 1px
                text-align: center
                font-style: italic
                font-size: 15px
                color: #979797
                font-weight: 600
                transition: all 150ms ease-in-out
                -webkit-appearance: none

                &::placeholder
                    font-weight: 300

                &:hover, &:focus
                    border: 1px solid #5bc0b9

        &__totais
            width 100%
            > span  
                font-size: 18px
                color: #353535
                font-weight: 600
                display: block
                text-align: center

            .total__parcial
                font-size: 10px
                color: #353535
                font-weight: 400

                strong
                    font-size: 14px
                    color: #5BC0B9
                    font-weight: 600

                .parcial__left
                    &:after
                        content: 'm²'
                        font-size: 14px
                        color: #5BC0B9
                        font-weight: 600        
                        margin-left: 5px

            .total__geral
                font-size: 27px
                color: #F35660
                font-weight: 700
                display: flex
                align-items: flex-start
                justify-content: center
                    
                &:after
                    content: 'm²'
                    font-size: 14px
                    color: #F35660
                    font-weight: 600        
                    margin-left: 5px

        &__content-right
            display: flex
            flex-wrap: wrap
            max-width 70px
            margin-left: 20px
            line-height: 15px

            > span 
                display: block
                width 100%

        &__totais 
            margin-bottom: 60px

        &__add 
            display: flex
            justify-content: center
            align-items: center
            font-size: 12px
            font-weight: 600
            color: #979797
        
            input 
                margin-right: 5px
                cursor pointer

.calculadora__pisos, .calculadora__totais
    display: none

body.fbits-geral.Rodapé
    .fator__caixa 
        color: #353535
        font-weight: 600
        font-size: 15px

        &:after
            content: 'm'!important
            margin-left: 5px

    .parcial__left
        &:after
            content: 'm'!important
            font-size: 14px
            color: #5BC0B9
            font-weight: 600        
            margin-left: 5px

    .total__geral
        font-size: 27px
        color: #F35660
        font-weight: 700
        display: flex
        align-items: flex-start
        justify-content: center
            
        &:after
            content: 'm'!important
            font-size: 14px
            color: #F35660
            font-weight: 600        
            margin-left: 5px

    .calculadora__content 
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        margin: 10px 0

        > span  
            font-size: 0
            
            &:before
                content: 'm'!important
                font-size: 15px
                color: #979797
                font-weight: 600
                margin-left: 5px