// .carrinhoHead i.icon.icart
// span.minicart-txt-itens
// span.minicart-valor-total-ext
//   display none
//
// span.minicart-qtde-itens:not(:empty)
//   background-color $cor06
//   border-radius 50%
//   color white
//   flex 0 0 auto
//   font-size 14px
//   font-weight 700
//   height auto
//   line-height 22px
//   margin-left 4px
//   padding 0
//   text-align center
//   width 22px
//
// span.minicart-qtde-itens
//   &:before
//   &:after
//     display none
//
// .carrinho.carrinhoHead
//   a
//     align-items center
//     background-color $cor05
//     border 1px solid $cor06
//     border-radius 3px
//     display flex
//     height auto
//     padding 7px 5px
//     text-decoration none
//
//     &:before
//       background svg-inline(cart) no-repeat center
//       content ''
//       height 24px
//       width 29px
//
// .carrinho.carrinhoHead
//   position static
//   width auto
//
// .div-busca-desktop
//   display block
//
// span.minicart-qtde-itens
//   position static

a#btnContinuarComprando
    background: $cor01!important
    border-radius: 2px

#btnLogin
    background: $cor01 !important
    color: #fff !important
    text-transform: uppercase !important
    height: 40px !important
    font-weight: 600
    font-size: 15px

#btCadastrarLogin
    background: $cor01!important
    height: 40px!important
    color: #fff!important
    text-transform: uppercase!important
    font-weight: 600
    font-size: 15px

.loginFacebook
    font-weight: 600
    font-size: 15px

section.banner__tow .banner__container.slick-initialized.slick-slider .slick-list.draggable .slick-track
    display: flex!important

.ribbon.fbits-etiqueta-trocagratis
    display: none!important

.fbits-categoria .main__container
    justify-content: space-between
.precoPor
    color: $cor01
.center.listadesejos
    padding-top: 30px
#tbdListaDeDesejos
    .bt.btMedium
        background: $cor01
        padding: 10px
        color: #ffffff
        font-weight: 600
        font-size: 14px!important
button#todos-comprar
    background: $cor01
    padding: 10px 0!important
    color: #fff
    font-size: 16px
    font-weight: 700

.drill-down.fadeIn
    border: 1px solid #FFE1C6
    border-radius: 4px
    padding: 35px 40px
    width: 360px
    >a
        display: block!important
        position: static
        margin: 0 auto
        width: 199px!important
        height: 47px!important
        margin-top: 20px
        .cartGo
            float: none
            display: block
            width: 100%
            height: 100%
            font-size: 0px
            background: #ACE28F
            border-radius: 4px
            &:hover
                background: #63A440
            &:before
                content: 'Finalizar compra'
                text-transform: uppercase
                font-size: 14px
                color: #ffffff
                font-weight: 600
                line-height: 47px

    .cartProd
        color: #373737
        font-size: 13px
        font-weight: 600
        text-transform: none
    .cartImg
        margin-right: 15px
    .cartPrice
        color: $cor01
        font-size: 14px
        font-weight: 600
        line-height: 14px
        height 14px
        margin-top: 20px
    #cartAtributos
        display: none
    .cartItem 
        border: none
        .icon.remover.replace
            background-repeat: no-repeat
            background-position: center
            background-size: cover!important    
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAANCAYAAAHnMM+TAAAABGdBTUEAALGPC/xhBQAAAWxJREFUKBVtUD1LA0EQnZlcQgr/wUVFErASBbugEsFKzB+4i1qIra1glcbePyBYpLFVsBJyoBEiaDqDcIcSDKSy84vzdnx7SdDCgb3Ze+/Nm50h+huB68UUFLxImPmMg4K/C3pTVZfZ6kB9kVKNWzPedBzTjeBzACTnoOCdmBoOxFuQTnDg+h0lXbCF43CEM9sJmRVhLarBIaoOrV3/nIVCKEMQ/gj0ejCNnaysLz01Hrnpeqj4DXR9cOwvLgOkLt7SZaYhiO4tJo5gERqSDqaiD6hsExulyk7xXmB4m6pGINfrxiGWI1JzOsTozWa+nqnNxomZFOV5VdpQ0cOUSGgf1pdG6A4D9rk55a2x4eqo+t8kLBcCURYL28O0bajm4GKQP+G+iHNlOaIkLznKWwEpcxFpPIGFQrtLe0kyubaUX45fsQwITIlJI0vYYOEIkwLj3urzySDdGhbUxhMqIGxb6/JNqn3kMnqlHX8Al3OQmwNFqJgAAAAASUVORK5CYII=")!important
            width: 10px
            height: 13px
            right: 40px
            top: 15px
        .fbits-campo-quantidade
            position: absolute
            left: 85px
            top: 45px
    .fbits-campo-quantidade
        &:before
            display: none
        a
            display: none!important
        &:after
            content: 'Unid'
            font-size: 12px
            font-weight: 600
            line-height: 12px
            height: auto
            color: #A1A0A1
            text-transform: none
        .fbits-valor
            font-size: 12px
            font-weight: 600
            color: #A1A0A1
            text-transform: none
            border: none
            width: auto
            height: auto
            margin-right: 3px
            line-height: 21px
    .cartTotalPrice
        font-size: 0px
        color: #373737
        font-weight: 400
        text-align: center
        padding-top: 20px
        &:before
            content: 'Preço total de'
            font-size: 14px
            color: #373737
            font-weight: 400
            margin-right: 3px
        #fbits-resumo-valor-total
            font-weight: bold
            font-size: 14px