
@font-face {
  font-family: 'Bison-Light';
  src: url('https://recursos.voltzmotors.com/c/Bison-Light.eot?#iefix') format('embedded-opentype'),  url('https://recursos.voltzmotors.com/c/Bison-Light.woff') format('woff'), url('Bison-Light.ttf')  format('truetype'), url('Bison-Light.svg#Bison-Light') format('svg');
  font-weight: 500;
  font-style: normal; 
}

@font-face {
  font-family: 'Bison-Bold';
  src: url('Bison-Bold.eot?#iefix') format('embedded-opentype'),  url('Bison-Bold.woff') format('woff'), url('https://recursos.voltzmotors.com/c/Bison-Bold.ttf')  format('truetype'), url('Bison-Bold.svg#Bison-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bison-DemiBold';
  src: url('https://recursos.voltzmotors.com/c/Bison-DemiBold.eot?#iefix') format('embedded-opentype'),  url('https://recursos.voltzmotors.com/c/Bison-DemiBold.woff') format('woff'), url('https://recursos.voltzmotors.com/c/Bison-DemiBold.ttf')  format('truetype'), url('https://recursos.voltzmotors.com/c/Bison-DemiBold.svg#Bison-DemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
