
@font-face {
  font-family: 'Bison-Bold';
  src: url('Bison-Bold.eot?#iefix') format('embedded-opentype'),  url('Bison-Bold.woff') format('woff'), url('Bison-Bold.ttf')  format('truetype'), url('Bison-Bold.svg#Bison-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
