
// utils
// @import 'utils/font'
@import 'utils/variables'
@import 'utils/icons'
@import 'utils/default'
@import 'utils/slick'
@import 'utils/pace'

// pages
@import 'pages/home'
@import 'pages/category'
@import 'pages/product/index'
@import 'pages/product'
@import 'pages/lista'
@import 'components/cart'
@import 'pages/sobre'

// modules
@import 'modules/header'
@import 'modules/footer'
@import 'modules/home-content'
@import 'modules/lightbox-entrada'
@import 'modules/lightbox-saida'


// components
@import 'components/client'
@import 'components/menu'
@import 'components/banner'
@import 'components/ruler'
@import 'components/circle'
@import 'components/showcase'
@import 'components/comments'
@import 'components/brands'
@import 'components/newsletter'
@import 'components/instagram'
@import 'components/evaluation-client'
@import 'components/filter'
@import 'components/breadcrumb'
@import 'components/calculadora'

@import 'fonts/font'    